<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer mb-5">
    <div class="search-bar-inner">
      <form action="/contact">
        <h4 class="mb-2">留下訊息：</h4>
        <div class="input-group">
          <textarea type="text" name="message" class="form-control" placeholder="輸入想留下的話"
            aria-label="Restaurant Name..." value="" aria-describedby="search-button"></textarea>
        </div>
        <div class="container text-right mt-1 p-0">
          {{!-- <button class="btn btn-major" type="submit" id="search-button">送出</button> --}}
          <button class="btn btn-major" type="button" id="search-button" onclick="location.href='/'">送出</button>
        </div>
      </form>
    </div>
  </div>
</div>